
.warehouse-selector {
  list-style-type: none;
}
.warehouse-selector li {
  display: inline-block;
  padding: 5px 15px;
  margin: 0px 25px;
}

hr{
  margin-top: 5px;
  margin-bottom: 10px;
}
.data-columns {
  margin-top: 20px;
  list-style-type: none;
  -moz-column-count: 1;
  -moz-column-gap: 10px;
  -webkit-column-count: 1;
  -webkit-column-gap: 10px;
  column-count: 1;
  column-gap: 10px;
  padding-left: 0px;
}

.data-columns li{
  line-height: 3rem;
  padding: 5px 0;
  font-size: 1.3rem;
  text-align: left;
  display: inline-block;
}

.data-columns li img {
  height: 40px;
  width:auto;
}
.data-columns > li > div{
  border-radius: 0px;
  border: 1px solid #ccc;
}
.data-columns > li > div:hover {
    background-color: none !important;
    box-shadow: 1px 1px 10px -3px;
}
.file-type-filter-group{
  text-align: center;
}
.file-type-filter {
  margin: -2.5px;
}
.top-row{
  margin-top: 25px;
  text-align: center;
  color: white;
  border-right: 10px white solid;
  background: #222222;
  border-left: 10px white solid;
}
.bottom-row {
  padding: 25px;
}
.logo{
  display:none;
}
.btn-group-justified{
    padding-top: 10px;
}
.search-term{
  text-align: center;
  padding-top: 15px;
  margin: 0px;
  font-style: italic;
  font-size: 12px;
  color: #666666;
}
.input-group{
    margin: 0 auto;
}
.file-buttons{
  padding: 10px;
}
.btn-launch {
    -webkit-appearance: none;
    margin: 0;
    border: none;
    border-radius: 0;
    overflow: visible;
    font: inherit;
    color: #ddd;
    text-transform: none;
    display: inline-block;
    box-sizing: border-box;
    vertical-align: middle;
    line-height: 30px;
    min-height: 30px;
    font-size: 12px;
    text-decoration: none;
    text-align: center;
    border: 2px solid #ddd;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px;
    -webkit-transition: border-color .1s, background .1s, color .1s ease-in-out;
    transition: border-color .1s, background .1s, color .1s ease-in-out
}

.btn-launch-primary.active,
.btn-launch-primary:focus {
    outline: none!important;
    color: #fff;
    background-color: #3a8836
}

.btn-launch-primary:focus,
.btn-launch-primary:hover {
    color: #ddd
}

.btn-launch-primary {
    color: #fff;
    background-color: #44a13f;
    border-color: transparent;
    font-size: 8px;
    line-height: 25px;
    min-height: 36px;
    padding: 3px 5px;
}

.btn-launch-info {
    color: #fff;
    background-color: #4c4c4c;
    border-color: transparent;
    font-size: 8px;
    line-height: 15px;
    padding: 3px 5px;
}

.btn-launch-info:focus,
.btn-launch-info:hover {
    color: #ddd
}

.btn-launch-info.active,
.btn-launch-info:focus {
    outline: none!important;
    color: #fff;
    background-color: #666
}
div.media{
  text-align: left;
  font-size: 9px;
}
div.media h4{
  font-size: 15px;
}
div.media-body{
  white-space: normal;
}
.download-help-text{
    text-align: center;
    font-size: 11px;
    margin: 10px;
    color: #4C4C4C;
}
@media (min-width: 768px) {

    .btn-launch-info {    
      font-size: 10px;
      padding: 10px 7px
    }
    .data-columns {
      -moz-column-count: 2;
      -moz-column-gap: 10px;
      -webkit-column-count: 2;
      -webkit-column-gap: 10px;
      column-count: 2;
      column-gap: 10px;
    }

    .btn-launch-primary {
      font-size: 18px;
      padding: 20px 15px;
    }

    .file-type-filter-group{
      padding-bottom: 0px;
    }

    .file-type-filter-group input{
        width: 100%;
      }
  }

@media screen and (min-width: 992px) {
  .logo{
    display: block;
    padding-bottom: 20px;
    margin-top: 10px;
  }

  .data-columns {
    -moz-column-count: 3;
    -moz-column-gap: 10px;
    -webkit-column-count: 3;
    -webkit-column-gap: 10px;
    column-count: 3;
    column-gap: 10px;
  }
}

@media (min-width: 1500px) {

    .data-columns {
      -moz-column-count: 4;
      -moz-column-gap: 10px;
      -webkit-column-count: 4;
      -webkit-column-gap: 10px;
      column-count: 4;
      column-gap: 10px;
    }
}
