<div class="file-type-filter-group col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-xs-12">
    <div class="input-group">
      <span class="input-group-addon" id="basic-addon1">Filter by:</span>
      <input type="text" #filenameFilter (keyup)="0"  class="form-control" placeholder="..." aria-describedby="basic-addon1"/>
    </div>
    <div class="btn-group btn-group-justified file-buttons" role="group" aria-label="...">
      <div class="btn-group" role="group">
        <button type="button" class="btn btn-sm btn-launch btn-launch-info file-type-filter" [class.active]="bObj == 'all'" (click)="fileSelection('all')">All</button>
      </div>
      <div class="btn-group" role="group">
        <button type="button" class="btn btn-sm btn-launch btn-launch-info  file-type-filter" [class.active]="bObj == 'shp'"  (click)="fileSelection('shp')">Shapefiles</button>
      </div>
      <div class="btn-group" role="group">
        <button type="button" class="btn btn-sm btn-launch btn-launch-info  file-type-filter" [class.active]="bObj == 'txt'"  (click)="fileSelection('txt')">Documents</button>
      </div>
      <div class="btn-group" role="group">
        <button type="button" class="btn btn-sm btn-launch btn-launch-info  file-type-filter" [class.active]="bObj == 'map'"  (click)="fileSelection('map')">Maps</button>
      </div>
    </div>
</div>
<div class="col-xs-12" *ngIf=(geography)>
  <p *ngIf="filenameFilter.value.length >= 1" class="search-term">Filtering by <b>{{filenameFilter.value}}</b></p>
  <ul class="data-columns">
    <li *ngFor="let file of geography | fileNamePipe:filenameFilter.value | fileTypePipe:_selection">
       <div class="media btn btn-block" >
        <div class="media-left">
          <a href="#">
            <img class="media-object" src='{{file.icon}}'  alt="{{file.icon}}">
          </a>
        </div>
        <div class="media-body">
          <h4 class="media-heading">{{ file.name }}</h4>
          {{file.link}} | {{file.date}}
        </div>
      </div>
    </li>
  </ul>
</div>
