$blue-theme: #005C83;
$red-theme: #E84A36;
$green-theme: #A3D65C;
$light-grey-theme:#4C4C4C;
$dark-grey-theme: #222222;

body{
  color:#222222;
  font-family: 'Montserrat', sans-serif;
}
ul.nav{
  margin-top: 45px;
}
.navbar-brand>img{
    margin-top: -5px;
}
.navbar-default{
  box-shadow: 2px 2px 5px #bbb;
  background-color: #ffffff;
  color: $dark-grey-theme;
}
#main-navbar .nav>li > a{
  padding-left: 30px;
  display: block;
  text-decoration: none;
  color: #4e4e4e;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}
.nav > li > a:hover,
.nav > li > a:focus {
  color: $red-theme !important;
  background-color: none !important;
}

#main-navbar .navbar-nav > li > a.router-link-active {
  color: $red-theme;
}
.module {
  padding: 25px;
}
@media screen and (min-width: 768px) {
  ul.nav{
    margin-top: 0px;
    display: block;
  }
  .navbar-toggle{
    display: block;
    float:right;
  }
  .nav>li{
    padding-left: 0px;
  }

}
.btn-launch{
    -webkit-appearance: none;
    margin: 0;
    border: none;
    border-radius: 0px;
    overflow: visible;
    font: inherit;
    color: #dddddd;
    text-transform: none;
    display: inline-block;
    box-sizing: border-box;
    padding: 0 12px;
    vertical-align: middle;
    line-height: 30px;
    min-height: 30px;
    font-size: 1rem;
    text-decoration: none;
    text-align: center;
    border: 2px solid #dddddd;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px;
    -webkit-transition: border-color 0.1s, background 0.1s, color 0.1s ease-in-out;
    transition: border-color 0.1s, background 0.1s, color 0.1s ease-in-out;
}
.btn-launch-primary:focus,
.btn-launch-primary.active{
    outline: none !important;
    color: #ffffff;
    background-color: rgb(58, 136, 54);
}
.btn-launch-primary:hover,
.btn-launch-primary:focus{
  color: #dddddd;
}
.btn-launch-primary{
    color: #ffffff;
    background-color: #44a13f;
    border-color: transparent;
    font-size: 18px;
    line-height: 25px;
    min-height: 36px;
    padding: 20px 15px;
}
.btn-launch-info{
    color: #ffffff;
    background-color: $light-grey-theme;
    border-color: transparent;
    font-size: 10px;
    line-height: 15px;
    padding: 10px 7px;
}
.btn-launch-info:hover,
.btn-launch-info:focus{
  color: #dddddd;
}
.btn-launch-info:focus,
.btn-launch-info.active{
    outline: none !important;
    color: #ffffff;
    background-color: #666666;
}
