/*
 * Base structure
 */


.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
.top-nav-col{
  list-style: none;
  padding-left: 0px;
  margin: 0px;
}
.top-nav-col > li > a{
    cursor: pointer;
    color: #005C83;
    position: relative;
    display: block;
    padding: 2px 10px;
}
.top-nav-col > li > a:hover{
    color: #23527c;    
    text-decoration: none;
}

.top-nav-col > .active > a,
.top-nav-col > .active > a:hover,
.top-nav-col > .active > a:focus {
  color: #fff;
  background-color: #005C83;
}

.top-navbar{
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    background-color: #222222;
    border-bottom: 1px solid #eee;
}
.top-navbar h4{
  font-size: 15px;
}
.top-navbar div:first-child{
  padding-right:0px;
}

.top-navbar div:nth-child(2){
  padding-right:0px;
  padding-left:0px;
}

.top-navbar div:last-child{
  padding-left:0px;
}
@media (min-width: 768px) {
  .top-navbar{
    display: none;
  }
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #222222;
    border-bottom: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar li{
    cursor: pointer;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
  color: #005C83;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #005C83;
}


/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */
.dashboard-main {
  margin-top:60px;
}

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
  text-align: center;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}
.chosen-category-header{
    text-align: center;
}
