/*
 * Base structure
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
.top-nav-col{
  list-style: none;
  padding-left: 0px;
  margin: 0px;
}
.top-nav-col > li > a{
    cursor: pointer;
    color: #ffffff;
    position: relative;
    display: block;
    padding: 2px 10px;
}
.top-nav-col > li > a:hover{
    color: #E84A36;
    text-decoration: none;
}

.top-nav-col > li.active > a,
.top-nav-col > li.active > a:hover,
.top-nav-col > li.active > a:focus {
  color: #E84A36;
  /*background-color: #005C83;*/
}

.top-navbar{
    z-index: 1000;
    display: block;
    padding: 20px 0px;
    overflow-x: hidden;
    background-color: #222222;
    border-bottom: 1px solid #eee;
    margin-top: 70px;
}
.top-navbar h4{
  font-size: 15px;
  color:#dddddd;
}
.top-navbar div:first-child{
  padding-right:0px;
  margin-right: -30px;
  width: 50%;
}

.top-navbar div:nth-child(2){
  padding-right:0px;
  text-align: center;
  display: none;
}

.top-navbar div:last-child{
  padding-left:0px;
  margin-left: -30px;
  width: 50%;
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px;
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar li{
    cursor: pointer;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
  color: #ffffff;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #E84A36;
  background-color: #EEEEEE;
}

.nav > li > a:hover,
.nav > li > a:focus {
  color: #E84A36;
  background-color: none;
}


.sidebar h4{
  font-size: 15px;
  color:#dddddd;
}
/*
 * Main content
 */

.main {
  padding: 20px;
}

.main .page-header {
  margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
  text-align: center;
}
.placeholder {
  margin-bottom: 20px;
  padding: 0px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}
.chosen-category-header{
    text-align: center;
    margin-top: 20px;
}
.map-row{
  padding:10px;
}
.img-square{
    box-shadow: 1px 1px 2px 1px #ccc;
    width:100px;
    height:100px;
}
@media (min-width: 768px) {
  .top-navbar{
    display: none;
    padding: 20px 0px;
  }
  .img-square{
    width:150px;
    height:150px;
  }
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #222222;
  }
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
  .placeholders{ /* give columns normal padding*/
    padding-right: 15px;
    padding-left: 15px;
  }
.chosen-category-header{
    margin-top: 60px;
}
}

@media (min-width: 992px) {
  .map-row{
    padding:20px;
  }
  .img-square{
    width:200px;
    height:200px;
  }
}

@media (min-width: 1200px) {
  .map-row{
    padding:40px;
  }
  .img-square{
    width:250px;
    height:250px;
  }
}
