/*
Name:  Stylesheet for WebMap using Leaflet + Geoserver
Author: Nathan Brigmon
Version: 1.0.0
 *
 * Table of Contents:
 *
 * 1. Leaflet + Map Styles
 * 2. Bootstrap Customization
 * 3. Map Items (Legend, Layer Panel, etc)
 * 4. Navigation Bar
 * 5. Tabular Styles
 * 6. Animation
 * 7. Responsive Design

$red-theme: #e84a36;
$blue-theme: #005C83;
$red-theme: #E84A36;
$green-theme: #A3D65C;
$light-grey-theme:#4C4C4C;
$dark-grey-theme: #222222;

*/

/* ------------------------------------------------------------------------- *
 *  1. Leaflet + Map Styles
/* ------------------------------------------------------------------------- */
body{
    background-color: #ffffff;
    color: #222222;
}
body, #map {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}
#map{
    height:420px;
    border-top: 1px #ccc solid;
    border-bottom: 1px #ccc solid;
}
.info {
    padding: 6px 8px;
    font-size: 14px;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}
.info h3 {
    margin: 0 0 5px;
    color: #777;
    font-size: 19px;
}
.leaflet-container {
    background: #fff;
    z-index: 1;
}
.leaflet-bottom .leaflet-control-scale {
    margin-left: 50px;
}
.leaflet-control-layers-base label{
    font-weight: 400;
    margin: 3px 2px 3px 7px;
}
.leaflet-control-layers-base h5{
    margin: 2px;
}
.leaflet-control-layers-base label:last-child{
    padding-bottom: 3px;
}
.leaflet-popup .table th{
    background: none;
    border: none;
    padding-bottom: 0px;
}
.leaflet-popup .table td{
    border: none;
    padding-bottom: 0px;
    vertical-align: bottom;
}
.leaflet-popup .table tr{
    border: none;
}
.leaflet-popup .table{
    border: none;
}

.base-map-title{
    text-align: center;
    /*background-color: blue;*/
}
.white-popup {
    position: relative;
    background: #FFF;
    padding: 20px;
    width: auto;
    max-width: 500px;
    margin: 20px auto;
}
.civic-text{
    text-shadow: 1px 1px 1px rgba(99, 98, 102, 0.33);
    color:#F7792E;
}
/* ------------------------------------------------------------------------- *
 *  2. Bootstrap Customization
/* ------------------------------------------------------------------------- */

.main-container{
    margin:0;
    padding:0;
}
.row {
    margin-left:0px !important;
    margin-right:0px !important;
}
.module {
    padding-left:0px !important;
    padding-right:0px !important;
}
/* ------------------------------------------------------------------------- *
 *  3. Map Items (Legend, Layer Panel, etc)
/* ------------------------------------------------------------------------- */

.welcome-tag{
  text-align: center;
  padding:10px
}
/***************************
/* Legend Menu
***************************/
ul#legend{
    list-style-type: none;
    padding-left: 0;
    text-align: left;
}
#legendWrapper {
    font: inherit;
    position: absolute;
    background: rgba(0, 0, 0, 0.65);
    padding: 3rem;
    top: 13rem;
    text-align: left;
    z-index: 9;
    width: 35%;
    max-width: 450px;
    min-width: 313px;
    left:25px;
}

#legendWrapper h4{
    color: #A3D65C;
    margin: 0;
}
#legendWrapper p{
    margin: 0px;
    padding: 0px;
    font-size: 1.4rem;
    color: white;
    height: 115%;
}
#legendWrapper ul{
    color: white;
    height: 115%;
    margin-bottom: -6px;
    margin-top: 12px;
}
#legendWrapper li {
    margin-bottom: .7rem;
    margin-left: 0;
}
#downloadLayerIcon{
    max-width: 20px;
    height: auto;
    display:inline;
    vertical-align: middle;
    margin:0 10px 0 10px;
    cursor: pointer;
}

#removeLayerIcon{
    max-width: 15px;
    height: auto;
    display:inline;
    cursor: default;
    vertical-align: middle;
    margin: 0px 10px 0px 0px;
    cursor: pointer;
}
span#removeLayerIcon:hover{
    color:#23527C !important;
}
#downloadTableIcon{
    margin: 0px 0px 0px 15px;
    cursor: pointer;
}
.select2-container{
    width:100% !important;
}

span.select2-selection.select2-selection--single {
    height: 32px !important;
}
.select2-results__option {
    padding: 6px;
    line-height: 1em;
    user-select: none;
    -webkit-user-select: none;
}

#add-layer-dropdown{
    padding-top: 10px;
}
li#legend_option{
    background-color: white;
    padding: 8px 5px 7px 15px;
    margin:5px 1px 1px 1px;
    color:#48494A;
    cursor: move;
    border: 1px solid #ccc;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
li#legend_option > span{
  margin-top: 1px;
}
li#legend_option:hover{
    box-shadow: 3px 3px 1px  #000000;
    -webkit-box-shadow: 3px 3px 1px  #000000;
    -moz-box-shadow: 3px 3px 1px  #000000;
}

#map-buttons {
    text-align: right;
}
#map-table {
    padding-top: 2rem;
}

#showLegend{
    display: none;
}

#hideLegend{
  padding: 3px 3px;
}

.hide-show-button{
    position: absolute;
    top: 4px;
    left: 4px;
    font-size: 10px;
    padding: 0px 3px;
    color: #656565;
    border-color: #656565;
    background-color: #565655;
}

/**************************
 Map Legend Elements
***************************/
.legend-title{
    text-align: center;
    font-weight: 500;
    font-size: 12px;
    margin:10px 4px 4px 4px;
}
.visible-layers{
    display:none;
    padding:0px 0px 10px 0px;
    width:260px;
}

.visible-layers div {
    font-size:12px;
}
.visible-layers #legend-layer-list div.polygon{
    float: left;
    margin: 3px 5px 0 10px;
    width: 3px;
    opacity: 0.7;
    height: 3px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    padding: 5px;
    border: 1px solid white;
    z-index: 1000;
}

.polygon-MPOFull {background-color: #feb24c}

.polygon-watersheds{ background-color: #deebf7 }

.polygon-ecoregions{ background-color: #d95f0e }

.polygon-cities{ background-color: #bcbddc }

.polygon-popgrowthA{ background-color: #ca0020 } /* redder */
.polygon-popgrowthB{ background-color: #f4a582 }
.polygon-popgrowthC{ background-color: #92c5de }
.polygon-popgrowthD{ background-color: #0571b0 } /* bluer */

.polygon-empgrowthA{ background-color: #feebe2 } /* lower */
.polygon-empgrowthB{ background-color: #fbb4b9 }
.polygon-empgrowthC{ background-color: #f768a1 }
.polygon-empgrowthD{ background-color: #ae017e } /* higher */

.polygon-group{
    border-top: 1px rgba(95, 97, 95, 0.25) solid;
    padding-bottom: 3px;
    padding-top: 3px;
}
#legend-layer-list:first-child{
    margin-top: 10px;
}

#icon-layer-icon{
    float:left;
    padding-right: 15px;
}
#icon-layer-icon img{
    height:20px;
    margin-top: -2px;
    margin-left: 8px;
}
#download-layer-icon{
    float:right;
    padding-left: 15px;
}
.add-label-items{
    color: #222222;
    font-size: 9px;
    position: absolute;
    top: 505px;
    left: 20px;
    padding: 5px;
    z-index: 999;
}
.add-label-items div{
    display:inline;
}
.select2-results__options{
  color:#333333;
}

/* ------------------------------------------------------------------------- *
 *  4. Navigation Bar
/* ------------------------------------------------------------------------- */
#navbar-about{
    line-height:10px;
    padding:7px;
    color: #ccc;
    float: right;
    width: 300px;
    font-size: 10px;
}
.navbar{
    z-index: 9999;
}

#navbar-about p{
    padding: 0px;
    margin: 0 0 5px;
}
#navbar-logo{
    padding-top:15px;
}
#project-logo{
    height: 35px;
    float: left;
    margin-top: -5px;
}

/* ------------------------------------------------------------------------- *
 *  5. Tabular Styles
/* ------------------------------------------------------------------------- */

.tableTitles {
    text-transform: uppercase;
    color: #5a5c5c;
    font-size: 12px;
    border: 1px solid #5a5c5c;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    padding: 1.5rem 3rem;
    display: table;
    width: auto;
    letter-spacing: 1px;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 10px;
}

.table-results-box{
    width: 90%;
    margin: 0 auto;
    margin-bottom: 100px;
}
.table-results-box table{
    font-size: 11px;
}
.table-results-box table th:not(:first-child),
.table-results-box table td:not(:first-child){
    text-align: right;
}
.dataTables_scroll {
    border: 1px #ccc solid;
}
.dataTables_wrapper{
    overflow: hidden;
}

#description-box{
    width: 50%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 40px;
}

/* ------------------------------------------------------------------------- *
 *  6. Animation
/* ------------------------------------------------------------------------- */
#waiting{

}
#waiting  h4, h5{
    text-align: center
}
#assessmentDropDown{

    margin-top: 5px;
    margin-bottom: 10px;
}
.loading-text{
    font-weight: 700;
}
.spinner {
  margin: 15px auto;
  margin-bottom: -15px;
  width: 80px;
  height: 60px;
  text-align: center;
  font-size: 10px;
}

.spinner > div {
  background-color: #E84A36;
  height: 75%;
  margin: 0px 2px 0px 2px;
  width: 6px;
  display: inline-block;
  -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
  animation: stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% {
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}
/*
INSIDE IFRAME - LAUNCH 2035 HaCK
*/
.inside-iframe{
  margin-top: 35px;
}
/* ------------------------------------------------------------------------- *
 *  7. Responsive Design
/* ------------------------------------------------------------------------- */
@media screen and (max-width: 900px){
    .visible-layers{
        /*padding: 0px 10px 10px 0px;*/
        /*width: auto;*/
    }


}
@media screen and (max-width: 600px){
    .welcome-tag{
        font-size: 17px;
    }
    #description-box h3{
        font-size: 17px;
    }
    .add-label-items{
        /*top:495px;*/
        display:none;
    }
    #legendWrapper h4{
        font-size: 13px;
    }
    #legendWrapper, #legendWrapper *, .select2-results__option,
    .tableTitles, div.info.visible-layers * {
        font-size: 10px;
    }

   /* div#legendWrapper{
        top: 1px;
        left: 1px;
    }*/
    .visible-layers{
        display:none;
    }

}
